h1 {
  font-size: 30px;
}

.links > a {
  font-size: 20px;
  margin: auto 4px;
  text-decoration: none;
  color: black;
}

.links > a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  border-radius: 20px;
}

a.active-link {
  text-decoration: underline;
  color: #61d00f;
  font-weight: bold;
}
